<!doctype html>
<html lang="en">

<head>
  <title>Francisco Correia Lopes - Cavaleiro Profissional</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="provas de equitação de trabalho, estágios de equitação, cavalos lusitanos, cavaleiro profissional, aulas de equitação, tauromaquia, toureiro">
  <meta name="description" content="Página pessoal do cavaleiro profissional Francisco Correia Lopes.">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" style="background-color: #333">

      <div class="container">
        <div class="row align-items-center position-relative">


          <div class="site-logo">
            <a href="/" class="text-black"><span class="text-primary">Francisco Correia Lopes</a>
          </div>


          <div class="col-12">
            <nav class="site-navigation text-right ml-auto " role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">

                <li><a href="/#home-section" class="nav-link">Apresentação</a></li>
                <li><a href="/#about-section" class="nav-link">Biografia</a></li>
                <li><a href="/#services-section" class="nav-link">Dia-a-dia</a></li>
                <li><a href="/#contact-section" class="nav-link">Contacto</a></li>
                <li><a href="/#blog-section" class="nav-link">Notícias</a></li>
                <!-- <li class="has-children">
                  <a href="#" class="">PT</a>
                  <ul class="dropdown">
                    <li><a href="index-en.html">EN</a></li>
                    <li><a href="index-fr.html">FR</a></li>
                  </ul>
                </li> -->
              </ul>

            </nav>

          </div>


          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

        </div>

      </div>

    </header>
