<%- include('partials/header') %>

<div class="site-section overlay img-bg-section" id="services-section" style="background-image: url('images/cavaleiro-profissional-dia-a-dia.jpg'); background-size: cover;">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2><%=login%></h2>
        </div>
      </div>
    </div>

    <div class="row mb-5 justify-content-center">
      <!-- <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div> -->
    <div class="col-sm-9 col-md-6 col-lg-3 text-center">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          <%=signIn%>
        </a>
      </div>

    </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
