<%- include("partials/header"); -%>
<div class="site-section overlay img-bg-section" id="services-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <div>
          <img src="/uploads/<%=photo.name%>" alt="Image" class="img-fluid photo-image-big">
        </div>
      </div>
    </div>

  </div>
</div>

<%- include("partials/footer"); -%>
